*{
    margin: 0;
    padding: 0;

}

.main{
    margin: 0;
    padding: 0;
    background-image: url('bg\ -\ Copy.jpg'); 
     background-size: cover; 
    background-position: center; 
    font-family: 'Arial', sans-serif;
}

.navbar{
    width: 85%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: black;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.image{
    width: 150px;
    height:300px;
    position: absolute;
    bottom:10px;
    right: 5px;
    bottom: 0%;
}

.image img{
    position: absolute;
    height: 140%;
    left: 5%;
    transform: translate(-50%);
    bottom: 0%;
}

